body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.nav-container, .content-container, .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    align-content: center;
    justify-content: center;
}
.header-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: #333;
    color: #fff;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #688fa9;
}

header {
    background-color: #73add1;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.about-me, .skills, .projects, .contact {
    background-color: #f9f9f9;
    padding: 40px 0;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

.project-item {
    margin-bottom: 20px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.social-links a:hover {
    background-color: #3498db;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
